* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background-image: url("https://cryptounicorns.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fcf97d24f-d976-4f9d-bbc7-ce2f48b91af8%2FCountdown_EggBackground_Scene.png?table=block&id=c40bd60c-bfdf-4d11-a859-597b4b9439e1&spaceId=c0c9f236-25ec-47e0-aad5-719266dc8969&width=2000&userId=&cache=v2");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100%;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

#main-doc {
	display: flex;
	flex-direction: column;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.2em;
	line-height: 30px;
	margin: -8px auto -8px auto;
	background: rgba(255, 255, 255, 0.9);
	height: auto;
	padding: 0;
	max-width: 80%;
}

#main-div {
	display: flex;
	flex-wrap: wrap;
	font-family: 'Paytone One', sans-serif;
	padding-top: 10px;
	margin: 20px 100px 0 400px;
	line-height: 2.7em;
	font-size: 1.4em;
	max-width: 60%;
}

span {
	font-weight: lighter;
	font-size: .8em;
}

#logo {
	position: absolute;
	top: 30px;
}

#crypto-unicorns-logo {
	max-width: 350px;
	max-height: 350px;
}

#navbar {
	display: flex;
	flex-direction: column;
	max-width: 20%;
	margin: 10px 20px 20px 30px;
	position: absolute;
	top: 290px;
}

#subheading {
	margin: 0 0 15px 40px;
	font-size: 1.4em;
	font-weight: bold;
}

ul {
	padding: 0 2px 0 40px;
}

li {
	margin-top: 10px;
}


#sub-div {
	max-width: 80%;
	margin: -10px 50px 50px 400px;
}

p {
	display: flex;
	flex-wrap: wrap;
	max-width: 90%;
	margin: 0px 00px 10px 0;
}

.main-section header {
	font-weight: bold;
	margin-top: 30px;
	font-size: 1.2em;
}

#trailer {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

#trailer iframe {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}